<html>
  <body>
  <div class="mapPlanner">
    <p class="centerText">Left</p>
  </div>
  <div class="chatBox">
    <div class="jumbotron">
      <p style="text-align:center">Chat</p>
      <div class="well" id="chatbox" style="height:150px; border: solid 1px #222222; overflow-y: scroll;">
        <% @messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>
      <%= form_with model: @message do |f| %>
        <div class="input-group mb-3">
          <%= f.text_field :body, placeholder: "Send a chat", class: "form-control" %>
        </div>
        <div class="input-group-append">
          <%= f.submit "Send", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="musicSuggestion">
    <h4 class="centerText">Songs That We Recommend:</h4>
    <%= render 'spotify' %>
  </div>
  </body>
</html>