= form_for @run do |f|
  - if @run.errors.any?
    #error_explanation
      %h2= "#{pluralize(@run.errors.count, "error")} prohibited this run from being saved:"
      %ul
        - @run.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :starting_point
    = f.text_field :starting_point
  .field
    = f.label :destination
    = f.text_field :destination
  .field
    = f.hidden_field :date, value: Date.today
  .field
    = f.hidden_field :user_id, value: current_user
  .actions
    = f.submit 'Save'
