%h1 Listing runs

%table
  %thead
    %tr
      %th= t('.user_id')
      %th
      %th
      %th

  %tbody
    - @runs.each do |run|
      %tr
        %td= run.userID
        %td= link_to 'Show', user_run_path(run.userID, run)
        %td= link_to 'Edit', edit_user_run_path(run.userID, run)
        %td= link_to 'Destroy', user_run_path(run.userID, run), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Run', new_user_run_path
