<!DOCTYPE html>
<html>
  <head>
    <title>iRan Application</title>
  </head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>

  <div class="title">
    <h1>
      iRan
    </h1>
  </div>

  <ul>
    <li><%= link_to "Home", home_path, :class => current_class?(home_path) %></li>
    <li style="float:right"><%= link_to "Help", helps_path, :class => current_class?(helps_path) %></li>

  </ul>

  <%= yield %>

  <footer>
    <div class="Disclaimer">
      <p>Disclaimer:</p>
      <p>This is very basic.</p>
      <p>My apologies.</p>
    </div>
  </footer>

  </body>
</html>
