<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app_title') %></title>
  </head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>

  <div class="title">
    <h1>
      iRan
    </h1>
  </div>

  <ul>
    <li><%= link_to "Home", home_path, :class => current_class?(home_path) %></li>
    <% if user_signed_in? %>
      <li><%= link_to t('create_run'), new_run_path, :class => current_class?(new_run_path) %></li>
      <li style="float:right"><%= link_to t('sign_out'), destroy_user_session_path, method: :delete, :class => current_class?(destroy_user_session_path) %></li>
    <% end %>
    <% if !user_signed_in? %>
      <li style="float:right"><%= link_to t('sign_in'), new_user_session_path, :class => current_class?(new_user_session_path) %></li>
    <% end %>
    <li style="float:right"><%= link_to t('contact_us'), contact_path, :class => current_class?(contact_path) %></li>
  </ul>

  <% flash.each do |key, value| %>
    <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
  <% end %>

  <%= yield %>
  </body>
</html>
